@import '../../globals/variables';

.audio-player__full-page-lyrics-content {
  height: 100%;
  width: 100%;

    .form-textarea {
        height: 100%;

        &__input {
            border: none;
            height: 100%;
            
            &:hover {
                border: none !important;
            }
        }
    }
} 