@import '../../globals/variables';

.tooltip {
    visibility: hidden;
    position: absolute;
    left: 50%;
    bottom: 125%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out;
    transition-delay: 0.6s;
    padding: 8px 12px;
    border-radius: 4px;
    font-size: 14px;
    text-align: center;
    background-color: $color-gray-dark;
    color: $color-white;
    box-shadow: 0 0 24px 6px rgba(0, 0, 0, .1);
    white-space: nowrap;
    z-index: 10;
  
    &--right {
      left: 100%;
      bottom: 50%;
      transform: translateY(50%);
      margin-left: 12px;
    }
  
    &--left {
      right: 100%;
      left: auto;
      bottom: 50%;
      transform: translateY(50%);
      margin-right: 12px;
    }
  }

.tooltip__shortcut {
  display: block;
  text-align: left;
  margin-top: 2px;
  color: $color-gray-default;
}