@import './globals/variables';

.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
  position: relative;
  overflow: hidden;
  background-color: $color-black-dark;
  
/*   &--hidden {
    visibility: hidden;
  } */

  &__overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 4;
    background-color: rgba(30, 30, 30, 0.75);
    display: flex;
    justify-content: center;
    align-items: center;
    color: $color-white;
    font-size: 24px;
  }
}

.container {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.container__content {
  display: flex;
  overflow: hidden;
  height: 100%;

  &__left {
    border-radius: 4px;
    flex-shrink: 0;

    &--pinned {
      margin: 6px 0 6px 6px;
    }

    &--mobile {
      width: 100%;
      margin: 0;
      flex-shrink: 1;

      .left-side-panel {
        width: 100%;
      }
    }
  }

  &__middle {
    position: relative;
    flex-grow: 1;
    overflow: hidden;
    width: 100%;
    margin: 6px;
    border-radius: 4px;
    background-color: $color-black;
    @include hide-scrollbar;

    &--hide {
      display: none;
    }
    
    &--mobile {
      margin: 0;
      border-radius: 0;
    }
  }

  &__right {
    border-radius: 4px;
    flex-shrink: 0;
    &--pinned {
      margin: 6px 6px 6px 0;
    }

    &--mobile {
      margin: 0;
      width: 100%;
      flex-shrink: 1;

      .right-side-panel {
        width: 100%;
      }
    }
  }
}

// Toast styles moved to Toaster.scss

.view-toggle-container {
  display: flex;
  padding: 0 6px;

  &__left {
    display: flex;
  }

  &__right {
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;

    & button {
      padding: 12px;
    }
  }

  &__title {
    position: relative;
    color: $color-gray-default;
    padding: 16px 12px;
    margin: 0;
    margin-bottom: 8px;
    border-radius: 4px;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;

    &--active {
      color: $color-white;
      &::after {
        content: "";
        position: absolute;
        bottom: 4px;
        left: 50%;
        transform: translateX(-50%);
        background-color: $color-yellow;
        width: 60%;
        height: 3px;
        opacity: 1;
        transition: opacity 0.2s ease-in-out;
      }
      &:hover::after, &:focus::after {
        opacity: 1;
      }
    }

    &:hover, &:focus {
      color: $color-white;
      background-color: $color-gray-dark;
      cursor: pointer;
    }
    &:active {
      background-color: $color-black-dark;
    }
  }
}

.selected {
  background-color: $color-yellow;
  color: $color-gray-dark;
}

.no-scroll {
  overflow: hidden;
}

.interactive-button {
  opacity: 0;
}

.placeholder-text {
  text-align: center;
  padding: 20px;

}

.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
