@import './globals/variables';
body {
  margin: 0;
  font-family: 'Raleway', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $color-black;
  color: $color-white;
  overflow: hidden;
}

* {
  font-family: inherit;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

h1, h2, h3, h4, h5, h6, p, td, a {
  color: $color-white;
  user-select: none;
}

button {
  color: $color-white;
  cursor: pointer;
  user-select: none;
}

input {
  background-color: $color-gray-dark;
  color: $color-white;
  padding: 12px;
  border: none;
  min-width: 20px;
  border-radius: 5px;
}

td {
  padding: 0;
}

* {
  scrollbar-width: thin; 
  scrollbar-color: $color-gray-mid $color-gray-dark;
}

*::-webkit-scrollbar-thumb {
  background-color: $color-gray-mid;
  border-radius: 4px;
}

*::-webkit-scrollbar-track {
  background-color: $color-gray-dark;
}

::selection {
  background-color: $color-primary-bg-hover;
}

::-moz-selection {
  background-color: $color-primary-bg-hover;
}