@import '../../globals/variables.scss';

.playlist {
   &__header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
   }

   &__text {
      display: flex;
      align-items: center;
      background-color: $color-black;
      overflow: hidden;
      flex: 1;

      &:hover {
         cursor: pointer;
      }
   }

   &__title {
      white-space: nowrap;
      text-overflow: ellipsis;
      margin: 0;
      padding-right: 16px;
   } 

   &__description {
      padding: 8px 16px;
      color: $color-gray;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: 100%;
   }
   
   &__description.has-description {
      border-left: 1px solid $color-gray-dark-hover;
   }

   &__action-button {
      margin-left: 16px;
      flex-shrink: 0;
   }
}