@import '../../globals/variables';

.playlists {
    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0px 8px;
        position: sticky;
        top: 0;
        background-color: $color-black;
        min-height: 60px;

        &-left {
            display: flex;
            align-items: center;
            gap: 12px;
        }
    }

    &__title {
        margin: 0;
        font-weight: 700;
    }

    &__home-button {
        flex-shrink: 0;
        padding: 8px;
        color: $color-gray;
        
        &:hover {
            color: $color-white;
        }

        svg {
            width: 18px;
            height: 18px;
        }
    }

    &__list {
        display: flex;
        flex-direction: column;
        list-style-type: none;
        padding: 0 6px;
        margin: 0;

        &-item {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 16px 12px;
            border-radius: 4px;
            border: 2px solid transparent;
            transition: all 0.2s ease;
            position: relative;

            &:hover {
                background-color: $color-gray-dark;
                cursor: pointer;
            }

            &--playing {
                color: $color-yellow;
            }

            &--active {
                background-color: $color-gray-dark-active;
                &:hover {
                    background-color: $color-gray-dark-hover;
                }
            }

            &--drag-over {
                border: 2px solid $color-primary;
                background-color: $color-primary-light;
                cursor: copy;
            }
        }
    }
}