@import '../../globals/variables';

input[type="number"] {
    -moz-appearance: textfield;
    -webkit-appearance: none;
    appearance: none;

    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
}

.modal-content {
    .form-group {
        position: relative;
        display: flex;
        flex-direction: column;

        .form-textarea__input {
            padding-bottom: 16px;
        }

        .form-textarea__remaining-chars {
            margin: 0;
        }

        input,
        select {
            min-height: 24px;
            transition: background-color 0.2s ease, box-shadow 0.2s ease;
            font-size: 16px;
            outline: none;
        }

        select {
            background-color: $color-gray-dark;
            min-height: 40px;
        }
    }

    .select-wrapper {
        position: relative;
        display: inline-block;
        background: $color-gray-dark;
        
        select {
            appearance: none;
            outline: none;
            box-shadow: none;
            border: none;
            width: 100%;
            padding-right: 28px;
            background-color: $color-gray-dark;
            color: $color-white;
        }
    }
}

.form-group {
    input,
    select,
    textarea {
        font-size: 16px;
        color: $color-white;
        caret-color: $color-white;
        outline: none;
        transition: background-color 0.2s ease, box-shadow 0.2s ease;
        
        &:hover {
            border: $border-gray-light-hover;
        }
        
        &:focus {
            &:hover {
                border: $border-primary;
            }
        }
        
        // Override Safari autofill background
        &:-webkit-autofill,
        &:-webkit-autofill:hover,
        &:-webkit-autofill:focus,
        &:-webkit-autofill:active {
            -webkit-box-shadow: 0 0 0 30px $color-black inset !important;
            -webkit-text-fill-color: $color-white !important;
            transition: background-color 5000s ease-in-out 0s;
            background-color: $color-black !important;
        }
    }

    &__label {
        position: absolute;
        top: 50%;
        left: 12px;
        transform: translateY(-50%);
        transition: all 0.2s ease;
        pointer-events: none;
        color: $color-gray-default;
        background-color: $color-black;

        &--active {
            top: -2px;
            left: 8px;
            font-size: 14px;
            padding: 0 4px;
        }
    }

    &__input {
        max-width: 400px;
        background-color: $color-black;
        border: 1px solid $color-gray-mid;
        padding: 12px;

        &:focus {
            border: 1px solid $color-primary;
            box-shadow: none !important;

            ~ .form-group__label {
                color: $color-primary;
            }
        }

        &--warning {
            border: 1px solid $color-warning-border;
        }
    }

    &__toggle {
        display: flex;
        position: absolute;
        top: 50%;
        right: 10px;
        transform: translateY(-50%);
        transition: all 0.2s ease;
        cursor: pointer;
        color: $color-gray-default;

        &:hover {
            color: $color-gray;
        }
    }
}

.options-list {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    z-index: 10;
    max-height: 400px;
    overflow-y: auto;
    box-shadow: $box-shadow;

    &__item {
        padding: 12px;
        text-align: left;
        background-color: $color-gray-dark;

        &:hover {
            background-color: $color-gray-dark-hover;
            cursor: pointer;
        }

        &--selected {
            background-color: $color-gray-mid;
        }

        &--focused {
            background-color: $color-gray-dark-hover;
            box-shadow: 0 0 0 1px $color-gray;
            transform: scale(1.02);
        }
    }
}