@import '../../globals/variables';

.selectable-input-container {
    display: flex;
    flex-direction: column;
}

.selectable-input {
    position: relative;
    display: flex;
    flex-direction: column;

    &__label {
        margin-bottom: 8px;
        cursor: default;
    }

    &--label {
        .selectable-input__selected-list {
            display: flex;
        }   

        & input {
            width: 100%;
            min-height: 20px;

            &:hover {
                box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
                cursor: text;
            }
        }
    }

    &__input-container {
        display: flex;
        border-radius: 4px;
        border: 1px solid transparent;
        cursor: pointer;
        overflow-x: auto; 
        overflow: auto;
        scroll-behavior: smooth;
        @include hide-scrollbar;
        min-width: 100px;
        box-sizing: border-box;
        white-space: nowrap;

        &:hover {
            border: $border-gray-light-hover;
            background-color: $color-gray-dark-hover;
        }

        &--disabled {
            cursor: default;

            &:hover {
                border: 1px solid transparent;
                background-color: transparent;
            }
        }

        &--form {
            border: 1px solid $color-gray-mid;
            &:hover {
                transition: background-color 0.4s ease, box-shadow 0.4s ease;
                background-color: transparent
              }
        }

        &--focused {
            border: 1px solid $color-primary;

            &:hover {
                border: 1px solid $color-primary;
                background-color: transparent;
            }
        }
    }

    &__selected-list {
        display: flex;

        &__item {
            display: flex;
            align-items: center;
            border-radius: 4px;
            padding: 4px 8px;
            white-space: nowrap;
            cursor: pointer;
            transition: background-color 0.2s ease;

            &--focused {
                background-color: $color-gray-dark-active;
                margin: 4px 4px 4px 0;
            }
            &__icon {
                margin: 0 8px;
                z-index: 1;
                position: relative;
            }
        }
    }
    
    &__input {
        background-color: transparent;
        border: 1px solid transparent;
        font-size: 16px;
        width: auto;
        min-width: 70px;
        transition: width 0.2s ease, overflow 0.2s ease;
        cursor: pointer;

        &:focus {
          outline: none;
          border: 1px solid transparent;
          cursor: text;
        }

        &--hidden {
            width: 0;
            overflow: hidden;
        }

        &--disabled {
            cursor: default;
        }
    }

    &__list {
        position: absolute;
        top: 100%;
        left: 0;
        z-index: 10;
        
        width: 100%;
        max-height: 400px;
        
        background-color: #202020;
        border-radius: 4px;
        box-shadow: $box-shadow;
        
        list-style-type: none;
        margin: 0;
        margin-top: 2px;
        padding: 0;
        
        overflow-y: auto;

        &-item {
            padding: 12px;
            text-align: left;
            background-color: $color-gray-dark; 
    
            &:hover {
                background-color: $color-gray-dark-hover;
                cursor: pointer;
            }
    
            &--selected {
                background-color: $color-gray-mid;
            }
    
            &--focused {
                background-color: $color-gray-dark-hover;
            }
        }
    }
}

.beat-row--playing {
    .selectable-input__input-container--edit {
        &:hover {
            background-color: $color-primary-light;
            border: 1px solid $color-primary;
        }

        &--focused {
            &:hover {
                background-color: transparent;
            }
        }
    }
}