@import '../../globals/variables';

.context-menu {
    min-width: 180px;
    padding: 6px;
    position: fixed;
    z-index: 5;
    background-color: $color-gray-dark;
    border-radius: 4px;

    &__title {
        font-weight: 600;
        margin: 0;
        padding-bottom: 4px;
    }

    &__artist {
        font-size: 14px;
        font-weight: 300;
        margin: 0;
    }

    &__overlay {
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: $overlay;
        z-index: 4;
        opacity: 1;
        transition: opacity 0.3s;

        &.inactive {
            opacity: 0;
        }
    }

    &__button {
        display: flex;
        align-items: center;
        padding: 0 24px 0 12px;
        border-radius: 4px;
        transition: background-color 0.2s;
        cursor: pointer;

        &:hover {
            background-color: $color-gray-dark-hover;
        }
    }

    &__subitem-icon {
        position: absolute;
        right: 6px;

        &:hover {
            color: $color-gray-light;
            transform: scale(1);
        }
    }

    &__icon {
        color: $color-gray-light;
        fill: $color-gray-light;
        padding-right: 12px;
        width: 16px;
        height: 16px;
    }

    &__nested-list {
        position: absolute;
        right: -124px;
        padding: 6px;
        border-radius: 4px;
        background-color: $color-gray-dark;

        &-item {
            color: $color-white;
            text-align: left;
            padding: 12px 12px;
            border-radius: 4px;
            transition: background-color 0.2s;
            cursor: pointer;

            &:hover {
                background-color: $color-gray-dark-hover;
            }
        }
    }

    &__nested-list--left {
        right: auto;
        left: -122px;
    }
}

.context-menu--mobile {
    position: fixed;
    z-index: 6;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    background-color: $color-gray-dark;
    padding-bottom: $safe-area-inset-bottom;
    border-radius: 20px 20px 0 0;

    &::after {
        content: '';
        position: absolute;
        height: 4px;
        width: 40px;
        transform: translateX(-50%);
        left: 50%;
        border-radius: 10px;
        background-color: $color-gray-mid;
        top: 0;
        margin-top: 10px;
    }

    .context-menu__header {
        text-align: left;
        padding: 16px 16px;
        border-bottom: $border-bottom;
    }

    .context-menu__button {
        padding: 0 16px;
        border-radius: 0;
        position: relative;

        &:hover {
            background-color: transparent;
        }

        &:active {
            background-color: $color-black;
        }
    }

    .context-menu__subitem-icon {
        position: absolute;
        right: 16px;
        background: none;
        border: none;
        color: $color-gray-light;
        padding: 0;
        
        &:hover {
            color: $color-white;
        }
    }

    .context-menu__nested-list {
        position: static;
        background-color: $color-black;
        margin: 8px 0 0 32px;
        border-radius: 8px;
        padding: 4px 0;

        &-item {
            color: $color-white;
            padding: 12px 16px;
            border-radius: 0;
            transition: background-color 0.2s;
            cursor: pointer;

            &:hover {
                background-color: transparent;
            }

            &:active {
                background-color: $color-black;
            }

            &:first-child {
                border-radius: 8px 8px 0 0;
            }

            &:last-child {
                border-radius: 0 0 8px 8px;
            }

            &:only-child {
                border-radius: 8px;
            }
        }
    }
}

.context-menu__overlay {
    z-index: 6;
}