.volume-slider {
  display: flex;
  justify-content: right;
  align-items: center;
  width: 100%;

  &--mobile-disabled {
    .volume-slider__icon {
      color: #FFCC44 !important;
      cursor: default;
      
      &:hover {
        color: #FFCC44 !important;
      }
    }
    
    .volume-slider__track {
      pointer-events: none;
      
      .volume-slider__progress {
        background: #FFCC44 !important;
      }
    }
  }

  &:hover {
    .volume-slider__track {
      .volume-slider__progress {
        background: #FFCC44;
      }
      .volume-slider__thumb {
        visibility: visible;
      }
    }
  }

  &__icon {
    position: relative;
    margin-right: 10px;
    cursor: pointer;
    color: grey;
    display: flex;

    &:hover {
      color: white;

      .tooltip {
        visibility: visible;
        opacity: 1;
      }
    }
  }

  &__track {
    position: relative;
    width: 100%;
    height: 5px;
    background-color: rgba(221, 221, 221, 0.5);
    border-radius: 2px;

    &.disabled {
      opacity: 0.5;
      cursor: not-allowed;
      
      .volume-slider__click-capture {
        cursor: not-allowed;
      }
    }

    .volume-slider__click-capture {
      position: absolute;
      top: -10px;
      bottom: -10px;
      left: 0;
      right: 0;
      cursor: pointer;
      z-index: 1;
    }

    &.hover {
      .volume-slider__progress {
        background: #FFCC44;
      }
      .volume-slider__thumb {
        visibility: visible;
      }
    }

    &:hover {
      .volume-slider__thumb {
        visibility: visible;
      }
    }
  }

  &__progress {
    position: absolute;
    height: 100%;
    background: white;
    border-radius: 2px;
  }

  &__thumb {
    visibility: hidden;
    position: absolute;
    top: 50%;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background: white;
    transform: translate(-50%, -50%);
    cursor: pointer;
  }
}