@import '../../globals/variables';

.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: $color-black;

  @media (display-mode: standalone) {
    padding-bottom: $safe-area-inset-bottom;
  }

  &--lyrics-modal-open {
    position: absolute;
    z-index: 11;
    bottom: 0;
  }

  &__item {

    & a {
      display: flex;
      justify-content: center;
      padding: 4px 0;
    }
  }

  & svg {
      width: 20px;
      height: 20px;
  }
}
