@import '../../globals/variables';

.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  align-items: center;
  padding-bottom: $safe-area-inset-bottom;
  width: 100%;
  background-color: $color-black;
  position: fixed;
  left: 0;
  right: 0;
  bottom: var(--keyboard-inset, 0px);
  z-index: 6;

  &--lyrics-modal-open {
    position: fixed;
    z-index: 11;
    bottom: var(--keyboard-inset, 0px);
  }

  &__item {

    & a {
      display: flex;
      justify-content: center;
      padding: 4px 0;
    }
  }

  & svg {
      width: 20px;
      height: 20px;
  }
}
