@import '../../globals/variables';

.icon-button {
    color: $color-gray-default;
    fill: $color-gray-default;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: none;
    font-size: 24px;
    transition: transform 0.2s ease-in-out;

    &:focus {
        outline: none;
    }

    &__bottom-label {
        font-size: 12px;
        font-weight: 600;
        padding-top: 8px;
    }
    
    &:active {
        color: $color-white !important;
    }

    &:hover {
      color: $color-white;
      cursor: pointer;
      transform: scale(1.04);
      
      .tooltip,
      .tooltip__addbeat {
        visibility: visible;
        opacity: 1;
      }
    }

    &--active {
        color: $color-white;
        fill: $color-white;
    }

    &--mobile {
        &:hover {
            color: $color-gray-light;
        }
    }

    &--addbeat {
        background-color: $color-gray-mid;
    }

    &--disabled {
        color: $color-gray-dark-hover;
        &:hover {
            color: $color-gray-dark-hover;
            cursor: default;
        }
    }
}