@import '../../globals/variables';

.beat-row {
  height: 62px;
  
  td:first-child {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
  }

  td:last-child {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
  }

  &:hover {
    background-color: $color-gray-dark;
  }

  &--playing.beat-row--edit {
    & .beat-row__input, & .select-wrapper__select {
      &:hover {
        background-color: $color-primary-light;
        border: 1px solid $color-primary;
      }
    }
  }

  &__input {
    box-sizing: border-box;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 12px;
    width: 100%;
    overflow: auto;
    font-size: 16px;
    cursor: pointer;

    &:hover {
        border: $border-gray-light-hover;
        background-color: $color-gray-dark-hover;
    }

    &:focus {
      outline: none;
      border: 1px solid $color-primary;
      cursor: text;

      &:hover {
        background-color: transparent;
      }
    }

    &--static {
      padding: 12px;
      text-align: left;
      cursor: default;

      &:hover {
        border: 1px solid transparent;
        background-color: transparent;
      }

      &-select {
        padding: 12px;
        text-align: left;
      }
    }
  }

  &__icon-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: none;
    font-size: 18px;

    &:hover .beat-row__tooltip {
      visibility: visible;
      opacity: 1;
    }
  }

  &__number, &__data, &__button-cell, &__tierlist, &__bpm {
    margin: 8px;
    text-align: center;
    color: $color-white;
  }

  &__menu {
    text-align: center;
  }

  &__button-cell {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 0;
  }

  &--playing {
    background-color: $color-primary-bg;
    &:hover {
      background-color: $color-primary-bg;
    }
  }

  &--focused {
    background-color: $color-gray-dark-active;
  }

  &__tooltip {
    visibility: hidden;
    opacity: 0;
  }
}

.beat-row--offline-uncached {
  opacity: 0.4;
}

.beat-row--selected, .beat-row--selected-top, .beat-row--selected-bottom, .beat-row--selected-middle {
  background-color: $color-gray-dark-active;

  &:hover {
    background-color: $color-gray-dark-hover;
  }

  &-top {
    td:first-child {
      border-bottom-left-radius: 0;
    }

    td:last-child {
      border-bottom-right-radius: 0;
    }
  }

  &-bottom {
    td:first-child {
      border-top-left-radius: 0;
    }

    td:last-child {
      border-top-right-radius: 0;
    }
  }

  &-middle {
    td:first-child, td:last-child {
      border-radius: 0;
    }
  }
}

.icon-button--menu {
    opacity: 1;
    
    &--mobile {
      opacity: 1 !important;
    }
}

.beat-row {
  &__duration {
    &-content {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 6px;
    }
    
    &-text {
      font-size: 14px;
    }
  }
  

}