@import '../../globals/variables';

.beat-list-skeleton {
  width: 100%;
  padding: 0 16px;
  box-sizing: border-box;
  
  &__table {
    display: table;
    table-layout: fixed;
    width: 100%;
    white-space: nowrap;
    border: none;
    border-collapse: collapse;
    container-type: inline-size;
    @include skeleton-shimmer;
    
    @media (max-width: 1200px) {
      th:nth-child(8),
      td:nth-child(8) {
        display: none;
      }
    }

    @media (max-width: 1000px) {
      th:nth-child(7),
      td:nth-child(7) {
        display: none;
      }
    }

    @media (max-width: 800px) {
      th:nth-child(6),
      td:nth-child(6) {
        display: none;
      }
    }

    @media (max-width: 600px) {
      th:nth-child(5),
      td:nth-child(5) {
        display: none;
      }
    }

    @media (max-width: 500px) {
      th:nth-child(4),
      td:nth-child(4) {
        display: none;
      }
    }

    @media (max-width: 400px) {
      th:nth-child(3),
      td:nth-child(3) {
        display: none;
      }
    }

    @media (max-width: 300px) {
      th:nth-child(9),
      td:nth-child(9) {
        display: none;
      }
    }

    @media (max-width: 200px) {
      th:nth-child(1),
      td:nth-child(1) {
        display: none;
      }
    }
  }
  
  &__header-cell {
    height: 40px;
    padding: 12px 20px;
    box-sizing: border-box;
    text-overflow: ellipsis;
    white-space: nowrap;
    vertical-align: middle;
    border: 4px solid $color-black;

    &--menu {
      background: $color-black;
    }
  }
  
  &__row {
    height: 60px;
  }
  
  &__cell {
    height: 60px;
    padding: 12px 20px;
    max-width: 0;
    word-wrap: break-word;
    box-sizing: border-box;
    text-overflow: ellipsis;
    white-space: nowrap;
    vertical-align: middle;
    border: 4px solid $color-black;

    &--menu {
      background: $color-black;
    }
  }
}

 