@import '../../globals/variables';

.beat-list-skeleton {
  width: 100%;
  
  &__table-container {
    padding-right: 16px;
    margin-top: -1px;
  }
  
  &__table {
    display: table;
    table-layout: fixed;
    width: 100%;
    white-space: nowrap;
    border: none;
    border-collapse: collapse;
    container-type: inline-size;
  }
  
  &__table-header {
    // Table header styles will be inherited from BeatList
  }
  
  &__header-cell {
    height: 40px;
    padding: 12px 20px;
    @include skeleton-shimmer;
    box-sizing: border-box;
    text-overflow: ellipsis;
    white-space: nowrap;
    vertical-align: middle;
  }
  
  &__row {
    border-bottom: 1px solid $color-gray-dark;
    height: 60px;
    
    &:hover {
      background-color: $color-gray-dark;
    }
  }
  
  &__cell {
    height: 60px;
    padding: 12px 20px;
    @include skeleton-shimmer;
    max-width: 0; // Forces text-overflow to work
    word-wrap: break-word;
    box-sizing: border-box;
    text-overflow: ellipsis;
    white-space: nowrap;
    vertical-align: middle;
  }
}

// Responsive column visibility - matching BeatList.scss exactly
.beat-list-skeleton {
  container-type: inline-size;

  &__table {
    container-type: inline-size;
  }

  // Responsive column visibility - order: feature, keywords, mood, genre, bpm, tierlist, duration, number
  @container (max-width: 1200px) {
    .beat-list-skeleton__header-cell:nth-child(8), // feature column (8th position)
    .beat-list-skeleton__cell:nth-child(8) {
      display: none;
    }
  }

  @container (max-width: 1000px) {
    .beat-list-skeleton__header-cell:nth-child(7), // keywords column (7th position)
    .beat-list-skeleton__cell:nth-child(7) {
      display: none;
    }
  }

  @container (max-width: 800px) {
    .beat-list-skeleton__header-cell:nth-child(6), // mood column (6th position)
    .beat-list-skeleton__cell:nth-child(6) {
      display: none;
    }
  }

  @container (max-width: 600px) {
    .beat-list-skeleton__header-cell:nth-child(5), // genre column (5th position)
    .beat-list-skeleton__cell:nth-child(5) {
      display: none;
    }
  }

  @container (max-width: 500px) {
    .beat-list-skeleton__header-cell:nth-child(4), // bpm column (4th position)
    .beat-list-skeleton__cell:nth-child(4) {
      display: none;
    }
  }

  @container (max-width: 400px) {
    .beat-list-skeleton__header-cell:nth-child(3), // tierlist column (3rd position)
    .beat-list-skeleton__cell:nth-child(3) {
      display: none;
    }
  }

  @container (max-width: 300px) {
    .beat-list-skeleton__header-cell:nth-child(9), // duration column (9th position)
    .beat-list-skeleton__cell:nth-child(9) {
      display: none;
    }
  }

  @container (max-width: 200px) {
    .beat-list-skeleton__header-cell:nth-child(1), // number column (1st position) - last to hide
    .beat-list-skeleton__cell:nth-child(1) {
      display: none;
    }
  }
} 