@import '../../globals/variables.scss';

.table-header {
    position: sticky;
    top: 116px;
    text-align: left;
    z-index: 3;
    background-color: $color-black;

    &::after {
      content: '';
      position: absolute;
      bottom: -40px;
      left: 0;
      right: 0;
      height: 40px;
      background: linear-gradient(to bottom, $color-black 0%, transparent 100%);
      pointer-events: none;
      opacity: var(--scroll-opacity, 0);
      transition: opacity 0.1s ease;
    }
    
    &__cell {
        position: relative;
        box-sizing: border-box;
        padding: 8px 8px;
        color: $color-gray-default;
        font-weight: 500;
        padding-right: 16px;
        cursor: default;

        &-left {
            display: inline-flex;
            align-items: center;

            &:hover {
                .table-header__cell-icon,
                .table-header__cell-text {
                    color: $color-gray;
                }

                .table-header__cell-icon {
                    opacity: 1;
                }
            }
        }

        &-text {
            color: $color-gray-default;
            transition: all 0.2s ease-in-out;

            &.active {
                color: $color-white !important;
            }
        }

        &-icon {
          display: flex;
            font-size: 20px;
            transform: translateX(50%);
            transition: all 0.2s ease-in-out;
            opacity: 0;

            &.active {
                color: $color-primary !important;
                opacity: 1;
            }
            &:hover {
                color: $color-primary;
            }
        }

        &.non-draggable {
            &::after {
                display: none;
            }
        }

        &--center {
            text-align: center;
            min-width: 20px;
            padding: 0;
        }

        &.no-transition {
            transition: none;
        }
    }
}


.hover-target {
    position: absolute;
    top: 0;
    right: -5px;
    bottom: 0;
    width: 13px;
    cursor: col-resize;
    background-color: transparent;
    z-index: 1;
}

.resize-handle {
    position: absolute;
    top: 0;
    right: -2px;
    bottom: 0;
    width: 2px;
    z-index: 10;
    transition: all 0.2s ease-in-out;
    cursor: col-resize;
    background-color: $color-gray-default;
    opacity: 0;

    &:hover {
        opacity: 0.7;
    }
}

.table-header {
    &:hover {
        .resize-handle {
            opacity: 0.5;
        }
    }

    &__cell {
        &.dragging {
            .resize-handle {
                background-color: $color-primary;
                opacity: 0.8;
            }
        }
    }
}
  

.hide-column {
    visibility: hidden;
}