@import '../../globals/variables';

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
  width: 100%;
  background-color: $color-black;
  border-radius: 4px;

  &__nav-group {
    display: flex;
    justify-content: center;
    width: 100%;

    &-dashboard {
      position: absolute;
      right: 80px;
    }
  }

  &__nav-logo {
    width: 30px;
  }

  &__actions {
    position: absolute;
    right: 64px;
    display: flex;
    align-items: center;
  }

  &__settings-button {
    padding: 6px;
  }
    
  & svg {
      width: 20px;
      height: 20px;
  }

  @media (max-width: 900px) {
    &__actions {
      right: 56px;
    }
  }

  @media (max-width: 600px) {
    &__actions {
      right: 0;
      margin-right: 48px;
    }
  }
}