@import '../../globals/variables';

.duplicate-confirm-modal__content {
  p {
    margin: 0 0 16px 0;
    color: $color-white;
    font-size: 16px;
    line-height: 1.5;

    &:last-child {
      margin-bottom: 0;
    }
  }
}
