@import '../../globals/variables';

.lyrics-modal {
  outline: none;

  &--fullscreen {
    .modal {
      position: fixed !important;
      top: 0 !important;
      left: 0 !important;
      width: 100vw !important;
      height: 100vh !important;
      transform: none !important;
    }

    .modal-content-fullscreen {
      width: 100vw;
      height: 100vh;
      border: none;
      box-shadow: none;
      //background: $color-background;
    }

    .modal--mobile {
      height: 100vh !important;
      
      .modal-content {
        height: 100vh;
        width: 100vw;
        border: none;
        box-shadow: none;
      }
    }
  }

  .modal {
    display: flex;
    justify-content: center;
    align-items: center;

    &--mobile {
      height: calc(100vh - 127px);

      & .modal-content {
        min-width: 0;
      }
    }
  }

  .modal-content {
    border: 1px solid $color-gray-mid;
    max-width: none !important; 
    resize: both;
    overflow: hidden;
    padding: 0 !important;
    box-shadow: $box-shadow;
    height: 100%;
    width: 100%;
    border: none;
    position: relative;
  }

  .modal__title {
    margin: 0;
    padding: 20px;
    cursor: default;
  }

  .modal__close-button {
    position: absolute;
    top: 20px;
    right: 20px;
    background: none;
    border: none;
    cursor: pointer;
    z-index: 10;
  }

  .modal__fullscreen-button {
    position: absolute;
    top: 20px;
    right: 60px;
    background: none;
    border: none;
    cursor: pointer;
    z-index: 10;
    //color: $color-text;
    transition: color 0.2s ease;

    &:hover {
      color: $color-primary;
    }
  }

  .form-group {
    height: calc(100% - 48px);
    margin: 0;
    padding: 0 20px 20px 20px;

    &__input {
        height: 100%;
        padding-top: 0;
        overflow: auto;
        border: none;

        &:hover,
        &:focus {
            border: none;
            box-shadow: none !important;

        }
    }
  }

  .form-textarea__input {
      &:hover {
          border: none !important;
      }
      padding-bottom: 40px !important;
  }
}

.react-resizable {
  position: relative;
}

.react-resizable-handle {
  position: absolute;
  width: 20px;
  height: 20px;
  bottom: 0;
  right: 0;
  background: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA2IDYiIHN0eWxlPSJiYWNrZ3JvdW5kLWNvbG9yOiNmZmZmZmYwMCIgeD0iMHB4IiB5PSIwcHgiIHdpZHRoPSI2cHgiIGhlaWdodD0iNnB4Ij48ZyBvcGFjaXR5PSIwLjMwMiI+PHBhdGggZD0iTSA2IDYgTCAwIDYgTCAwIDQuMiBMIDQgNC4yIEwgNC4yIDQuMiBMIDQuMiAwIEwgNiAwIEwgNiA2IEwgNiA2IFoiIGZpbGw9IiMwMDAwMDAiLz48L2c+PC9zdmc+');
  background-position: bottom right;
  padding: 0 3px 3px 0;
  background-repeat: no-repeat;
  background-origin: content-box;
  box-sizing: border-box;
  cursor: se-resize;
}

.lyrics-modal__loading {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  font-size: 16px;
  color: $color-white;
  flex: 1;
  
  &::after {
    content: '';
    width: 16px;
    height: 16px;
    margin-left: 10px;
    border: 2px solid $color-primary;
    border-radius: 50%;
    border-top-color: transparent;
    animation: spin 1s linear infinite;
  }
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}