@import '../../globals/variables';

.left-side-panel, .right-side-panel {
  width: 300px;
  height: 100%;
  background-color: $color-black;
  transition: transform 0.2s ease-in-out;
  border-radius: 4px;
  overflow-y: auto;
  @include hide-scrollbar;

  &--hover {
    position: fixed;
    top: 73.5px;
    z-index: 5;
    height: calc(100vh - 254px);
    border: 6px solid $color-black-dark;
  }

  &--visible {
    animation:  0.2s ease-in-out;
  }

  &--hidden {
    animation:  0.2s ease-in-out;
  }
}

.left-side-panel {
  overflow-x: hidden;
  &--hover {
    left: 0;
  }
  &--visible {
    animation-name: slideInLeft;
  }
  &--hidden {
    animation-name: slideOutLeft;
  }
}

.right-side-panel {
  overflow-x: hidden;
  &--hover {
    right: 0;
  }
  &--visible {
    animation-name: slideInRight;
  }
  &--hidden {
    animation-name: slideOutRight;
  }
}

.invisible-hover-area {
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 55px;
  height: 20px;
  opacity: 0;
  
  &--left {
    left: 0;
  }
  &--right {
    right: 0;
  }
}

@keyframes slideInLeft {
  from { transform: translateX(-100%); }
  to { transform: translateX(0); }
}

@keyframes slideOutLeft {
  from { transform: translateX(0); }
  to { transform: translateX(-100%); }
}

@keyframes slideInRight {
  from { transform: translateX(100%); }
  to { transform: translateX(0); }
}

@keyframes slideOutRight {
  from { transform: translateX(0); }
  to { transform: translateX(100%); }
}